<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <img src="images\Home Page\MananParmarSign.png" alt="My Image" class="responsive-img">
    <div class="container">
        <div class="card tabs">
          <input id="tab-1" type="radio" class="tab tab-selector" checked="checked" name="tab" />
          <label for="tab-1" class="tab tab-primary">About</label>
          <input id="tab-2" type="radio" class="tab tab-selector" name="tab" />
          <label for="tab-2" class="tab tab-success">Education</label>
          <input id="tab-3" type="radio" class="tab tab-selector" name="tab" />
          <label for="tab-3" class="tab tab-default">Experience</label>
          <input id="tab-4" type="radio" class="tab tab-selector" name="tab" />
          <label for="tab-4" class="tab tab-warning">Projects</label>
          <div class="tabsShadow"></div>
          <div class="glider"></div>
          <section class="content">
            <div class="item" id="content-1">
              <h2 class="tab-title tab-primary">Hi, I'm Manan</h2>
              <p>
                <span class = "numit"></span> A software engineer with a passion for travel and biking. I thrive on creating innovative tech solutions and love the freedom of exploring new places on my bike. Let's connect and collaborate!
              </p>
            </div>
            <div class="item" id="content-2">
              <h2 class="tab-title tab-success">BITS Pilani</h2>
              <p>
                <span class = "numit"></span>Master's of Technology(M.tech) in Software Engineering</p>
                <h2 class="tab-title tab-success">Nirma University</h2>
                <p>
                  <span class = "numit"></span>Bachelor's of Technology(B.tech) in Computer Science & Engineering</p>
            </div>
            <div class="item" id="content-3">
              <h2 class="tab-title tab-default">Thomson Reuters</h2>
              <p>
                <span class = "numit"></span> Software engineer (Jan 2022 - present) </p>
            </div>
            <div class="item" id="content-4">
              <h2 class="tab-title tab-warning">Work in Progress</h2>
              <p>
                <span class = "numit"></span> </p>
            </div>
          </section>
    
        </div>
    </div>
</body>
</html>
